In [1]:
import pandas as pd

midata = pd.read_csv("../data/data.csv")
midata.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college,will_go_to_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False,True
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False,True
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False,True
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False,False

In [7]:
midata["parent_was_in_college"].unique()

array([False,  True])

In [8]:
checkData = pd.read_csv("../data/transformeddata.csv")

In [10]:
checkData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   type_school            1000 non-null   int64
 1   school_accreditation   1000 non-null   int64
 2   gender                 1000 non-null   int64
 3   interest               1000 non-null   int64
 4   residence              1000 non-null   int64
 5   parent_age             1000 non-null   int64
 6   parent_salary          1000 non-null   int64
 7   house_area             1000 non-null   float64
 8   average_grades         1000 non-null   float64
 9   parent_was_in_college  1000 non-null   int64
 10  will_go_to_college     1000 non-null   int64
dtypes: float64(2), int64(9)
memory usage: 86.1 KB

In [14]:
checkData["parent_salary"].min()

1000000